h1,h2,h3,h4,h5,h6 {
	font-family: 'Brush Script MT';
	text-align:center;
	color:#4108A4;
}
li{
	font-family: 'Verdana, sans-serif';	
}
p{
	font-family: 'Verdana, sans-serif';	
	border-style: dotted;
	border-color: blue;
}
pre{
	background-color: coral;
	
}
img{
	border-style: dotted;
	border-color: green;
}